footer{
    p{
        color: black;
    }
    .container{
        color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    a{
        padding: 5px;
    }
}



// .footer{
//     display: flex;
//     justify-content: center;
//     background: #fefefe;
//     border-bottom: 1px solid black;
//   }