.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #fefefe;
}

.navbar-row{
  display: flex;
  justify-content: center;
  background: #fefefe;
  border-bottom: 1px solid black;
}

.nav-links{
  float: right;
}

.nav-links .link{
  padding-right: 10px; 
  padding-left: 10px; 
}

.home{
  text-align: center;
}

.about{
  text-align: center;
}

.stories{
  text-align: center;
}