// @media screen and (min-width: 30em) {

.about {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 90%;
	        flex: 0 1 90%;
	margin-top: 145px;
	margin-bottom: 80px;

	.pre-interested {
		padding-bottom: 0px;
		text-align: left;
		margin: 0;
	}

	&__link {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		margin-bottom: 50px;
		.interested {
			padding-right: 5px;
			text-align: left;
		}
		.nextButton {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: reverse;
			    -ms-flex-direction: column-reverse;
			        flex-direction: column-reverse;
			width: 0;
			height: 0;
			border-top: 40px solid #232227;
			border-right: 80px solid transparent;
			cursor: pointer;
			position: relative;
			top: 7px;
			a {
				color: #f86c59;
				position: relative;
				top: -18px;
				left: 5px;
				margin: 0;
			}
		}
	}

	#circle {
		background-color: #f86c59;
		border: 3px solid #f86c59;
		border-radius: 50%;
		position: relative;
		top: calc(5% + 15px);
		width: 10px;
		height: 10px;
		z-index: 100;
		margin-bottom: 20px;
		left: 49.3%;
	}

	a {
		color: #f86c59;
		cursor: pointer;
	}

	h4 {
		text-align: left;
	}

	hr {
		margin-top: 0px;
		margin-bottom: 0px;
		border-bottom: 1px solid #999999;
	}

	p {
		text-align: left;
	}

	.section {
		text-align: left;
		padding: 10px 20px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.section:nth-child(1) {
		background: darkcyan;
	}

	.team-members {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 100%;
		        flex: 1 1 100%;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		.team-member {
			text-align: left;
			padding-bottom: 10px;
			padding-top: 10px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			-ms-flex-wrap: wrap;
			    flex-wrap: wrap;
			&__text {
				-webkit-box-flex: 1;
				    -ms-flex: 1 1 10%;
				        flex: 1 1 10%;
			}
			&__image {
				color: blue;
				border-radius: 5px;
				img {
					border-radius: 50%;
					min-width: 10%;
					max-width: 70%;
				}
			}
		}
	}
}