@media screen and (min-width: 30em) {
    .about{
        flex: 1 1 75%;
        flex-wrap: wrap;
        height: max-content;
        justify-content: flex-end;
        text-align: center;
        position: relative;
        top: 145px;
        &__link{
            padding-top: 40px;
        }
    
        a{
            color: orangered;
            cursor: pointer;
        }
    
        h4{
            color: #232227;
            text-align: left;
        }
    
        .title{
            text-transform: lowercase;
        }
    
        hr{
            // border-top: 1px solid black;
            margin-top: 0px;
            margin-bottom: 0px;
            border-bottom: 1px solid #999999;
        }
    
        p{
            color: #232227;
            text-align: left;
        }
      
        .section{
            color: #232227;
            text-align: left;
            padding: 10px 20px;
            display: flex;
        }
        .section:nth-child(1){
            background: darkcyan;
        }
        
        .team-members{
            display: flex;

            flex-direction: column;
            .team-member{ 
                text-align: left;
                padding-bottom: 10px;
                padding-top: 10px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                &__text{
                    // font-size: 16px;
                    flex: 1 1 10%;
                }
                &__image{
                    color: blue;
                    border-radius: 5px;
                    // flex: 1 1 10%;
                    img{
                        border-radius: 50%;
                        min-width: 10%;
                        max-width: 70%;
                    }
                }
    
            }
           
        }
       
    
    
    }
    
}

