// @media screen and (min-width: 30em) {
.about {
	flex: 0 1 90%;
	margin-top: 145px;
	margin-bottom: 80px;

	.pre-interested {
		padding-bottom: 0px;
		text-align: left;
		margin: 0;
	}

	&__link {
		display: flex;
		flex-direction: row;
		margin-bottom: 50px;
		.interested {
			padding-right: 5px;
			text-align: left;
		}
		.nextButton {
			display: flex;
			flex-direction: column-reverse;
			width: 0;
			height: 0;
			border-top: 40px solid #232227;
			border-right: 80px solid transparent;
			cursor: pointer;
			position: relative;
			top: 7px;
			a {
				color: #f86c59;
				position: relative;
				top: -18px;
				left: 5px;
				margin: 0;
			}
		}
	}

	#circle {
		background-color: #f86c59;
		border: 3px solid #f86c59;
		border-radius: 50%;
		position: relative;
		top: calc(5% + 15px);
		width: 10px;
		height: 10px;
		z-index: 100;
		margin-bottom: 20px;
		left: 49.3%;
	}

	a {
		color: #f86c59;
		cursor: pointer;
	}

	h4 {
		text-align: left;
	}

	hr {
		margin-top: 0px;
		margin-bottom: 0px;
		border-bottom: 1px solid #999999;
	}

	p {
		text-align: left;
	}

	.section {
		text-align: left;
		padding: 10px 20px;
		display: flex;
	}
	.section:nth-child(1) {
		background: darkcyan;
	}

	.team-members {
		display: flex;
		flex: 1 1 100%;
		flex-direction: column;
		.team-member {
			text-align: left;
			padding-bottom: 10px;
			padding-top: 10px;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			&__text {
				flex: 1 1 10%;
			}
			&__image {
				color: blue;
				border-radius: 5px;
				img {
					border-radius: 50%;
					min-width: 10%;
					max-width: 70%;
				}
			}
		}
	}
}
