.App {
    text-align: center;
  }

.wrapper{
  position: relative;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  footer{
    clear: both;
    position: relative;
    height: 200px;
    // margin-top: -200px;
    bottom: -25%;
  }
}
