@import '~bootstrap/scss/bootstrap';


.wrapper {
	height: fit-content;
	display: flex;
	flex-direction: column;
	background: #f3f3f3;
	min-height: 100vh;
	overflow-y: hidden;
	p {
		margin-bottom: 0px;
	}
}
