.App {
    text-align: center;
  }

.wrapper{
  position: relative;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  footer{
    clear: both;
    top: auto;
    position: inherit;
    height: 4vh;
    bottom: -38%;
  }
  p{
    margin-bottom: 0px;
  }
}
