@media screen and (min-width: 52em) {
    .container2{
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 100%;
        justify-content: space-between;
        flex-direction: row;
        color: #232227;
        align-items: center;
        background: rgba(196, 196, 196, 0.4);
        &__social-media{
            display: flex;
            flex-direction: row;
            padding-top: 5px;
            padding-bottom: 5px;
            img{
                border-radius: 50%;
                padding-bottom: 0px;
                width: 26px;
            }
        }
        &__established{
            align-items: center;
            display: flex;
            flex-direction: row;
            font-size: 16px;
            text-transform: lowercase;
            padding-top: 5px;
            padding-bottom: 5px;
            .policy{
                display: flex;
                padding-right: 20px;
                text-transform: none;
                p{
                    padding-right: 10px;
                }
            }
        }
        a{
            padding: 2px;
        }
    }
}
