.footer-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex: 1;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	color: #232227;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		position: relative;
		bottom: -20px;
		background-color: rgba(196, 196, 196, 0.4);

	&__social-media {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		align-items: center;
		-webkit-box-flex: 1;
			-ms-flex: 1;
				flex: 1;
		// margin-bottom: 20px;
		-webkit-box-pack: start;
			-ms-flex-pack: start;
				justify-content: flex-start;
			img {
				border-radius: 50%;
				padding-bottom: 0px;
				width: 26px;
			}
	}
	&__established {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		text-transform: lowercase;
		-webkit-box-flex: 1;
			-ms-flex: 1 1 80%;
				flex: 1 1 80%;
		-webkit-box-pack: end;
			-ms-flex-pack: end;
				justify-content: flex-end;
		.footer-links {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			padding-right: 50px;
			text-transform: none;
			-ms-flex-wrap: wrap;
				flex-wrap: wrap;
			
			&__policy {
				line-height: initial;
				margin-right: 20px;
			}
			&__impressum {
				line-height: initial;
				margin-right: 20px;
				a{
					margin: 0;
					padding: 0;
					color: inherit;
					&:hover{
						color: #f86c59;
					}
				}
			}
		}
		.company{
			line-height: initial;
			&__copyright {
				font-size: 12px;
			}
			&__name{
				align-items: center;
				display: flex;
			}
		}
	}
	a {
		padding: 2px;
	}
}

@media only screen and (max-width: 768px) {
	.footer-container {
		padding: 20px 15px;
		display: flex;
		flex-direction: column;
		&__established{
			font-size: 18px;
			.company{
				&__name{
					display: flex;
				}
			}
		}
		&__social-media{
			justify-content: center;
			margin-top: 20px;
			margin-bottom: 40px;
		}
	}

}