	.footer-container {
		display: flex;
		justify-content: space-between;
		color: #232227;
		align-items: center;
		margin-top: 50px;
		flex-wrap: wrap;

		&__social-media {
			display: flex;
			flex: 1;
			margin-bottom: 20px;
			justify-content: flex-start;
				img {
					border-radius: 50%;
					padding-bottom: 0px;
					width: 26px;
				}
		}
		&__established {
			display: flex;
			text-transform: lowercase;
			flex: 1 1 80%;
			justify-content: flex-end;
			.footer-links {
				display: flex;
				padding-right: 50px;
				text-transform: none;
				flex-wrap: wrap;
				
				&__policy {
					line-height: initial;
					margin-right: 20px;
					margin-bottom: 10px;
				}
			}
			.company{
				line-height: initial;
				&__copyright {
					font-size: 12px;
				}
			}
		}
		a {
			padding: 2px;
		}
	}
