.home {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	// background-image: url('../img/landingImage.svg');
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
			justify-content: center;
			align-items: center;
	&__title {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 570px;
		        flex: 0 1 570px;
		text-align: center;
		h1 {
			font-size: 3.5rem;
			margin: 0;
		}
	}
	
}

@media only screen and (max-width: 768px) {
	.home{
		max-width: 300px;
	}
	.home > *{
		max-width: 300px;
	}
}