.home{
    height: max-content;
    // display: flex;
    // flex-wrap: wrap;
    flex: 1 1 75%;
    // flex-direction: column;
    justify-content: center;
    text-align: center;
    p{
        color: #232227;
        text-align: center;
    }
    img{
        width: 60%;
    }
}
