.home {
	position: relative;
	top: 184px;
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
	&__title {
		width: 570px;
		text-align: center;
		h1 {
			font-size: 3.5rem;
			margin: 0;
		}
	}
}
