.join {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 86%;
	        flex: 0 1 86%;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	// font-size: 24px;
	margin-top: -2px;
	a {
		color: #f86c59;
		cursor: pointer;
	}
	.bank-details {
		color: #f86c59;
		padding-bottom: 5px;
	}
	.weLookingFor-title {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.weLookingFor-message-us {
		padding-bottom: 15px;
	}
	.people {
		padding-bottom: 5px;
	}
	.important-title {
		padding-bottom: 5px;
	}
	.message-us {
		padding-top: 5px;
		padding-bottom: 10px;
	}
	.cooperation {
		width: 485px;
	}
	.cooperation-title {
		font-weight: 500;
		font-size: 20px;
		line-height: 18px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.cooperation-item {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	h3 {
		color: #232227;
		text-align: left;
		font-weight: 500;
	}

	hr {
		margin-top: 0px;
		margin-bottom: 0px;
		border-bottom: 1px solid black;
	}

	p,
	ul {
		color: #232227;
		text-align: left;
		margin-bottom: 0;
	}
	ul {
		padding-left: 0px;
		color: #232227;
	}
	ul li {
		color: #f86c59;
		list-style-type: disc;
		margin-left: 2em;
	}
	ul li span {
		color: #232227;
	}
	#reg-number {
		margin-bottom: 10px;
		margin-top: 10px;
	}
	#email {
		text-align: center;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	#email-to-contact {
		color: red;
	}
}
// .join > *{
// 	word-break: break-word;
// 	min-width: 0%;
// }

@media only screen and (max-width: 768px) {
	.join {
		max-width: 300px;
	}
	.join > * {
		max-width: 300px;
	}
  }