  .container > * {
    padding: 20px;
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }
  
  .container{
    color: white;
    display: flex;
    
    .story-list{
      // font-size: 16px;
    }
    .story .stories{
      font-size: 0px;
    }
    

    .navigation{
      // font-size: 16px;
      flex: 0 1 225px;
      &__logo{
        width: 100%;
        padding-bottom: 60px;
      }
      &__deineMeinung{
        padding-top: 50px;
        padding-bottom: 60px;
        text-align: right;
        img{
          width: 70%;
        }
      }
      &__menu{
        background: #fefefe;
        max-width: fit-content;
      }
      .navbar{
        background-color: #ffffff !important; 
        padding-right: 0px;
        padding-left: 0px;
        display: flex;
        flex-direction: row-reverse;
      }
    }
    .navigation-links{
      // font-size: 16px;
      display: flex;
      flex-direction: column;
      text-align: right;
      flex: 1 1 0;
      // width: -webkit-fill-available;
      &__link-item{
        padding-right: 10px; 
        padding-left: 10px; 
        border-bottom: 1px solid #F86C59;
      }
      
      a{
        color: #232227;
        text-decoration: none;
      }
      a:hover {
        border-bottom: 1px solid #F86C59;
      }
    }

    .navigation-links-hovered{
      // font-size: 16px;
      display: flex;
      flex-direction: column;
      text-align: right;
      flex: 1 1 0;
      cursor: pointer;
      // width: -webkit-fill-available;
      &__link-item{
        cursor: pointer;
        padding-right: 10px; 
        padding-left: 10px; 
      }
      
      a{
        color: #232227;
        text-decoration: none;
        cursor: pointer;
      }
      a:hover {
        border-bottom: 1px solid #F86C59;
        cursor: pointer;
      }
    }
    // .navigation-child{
    //   flex: 3 1 0;
    //   display: flex;
    //   flex-direction: column;
    // }


  }
  
/*
  TODO move to another file
*/
