.projects {
  height: max-content;
  flex: 1 1 75%;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 132px;

  a {
    color: orangered;
    cursor: pointer;
  }
  .carousel {
    display: flex;
    flex: 1;
    &__item {
      display: flex;
      flex: 1;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }

    .carousel-indicators{
      bottom: -55px;
    }

    h3{
      font-size: 1.2rem;
    }

    .carousel-caption {
      padding-bottom: 0;
      bottom: 0;
    }

    li{
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: orangered;
      opacity: 1;

    }

    .active{
      background-color: black;
    }

    .carousel-control-prev, .carousel-control-next{
      opacity: 0;
      &:hover{
        opacity: 1;
      }
    }
    .carousel-control-prev-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='orangered' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
  
  .carousel-control-next-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='orangered' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }
  }

  h2,
  h4 {
    color: #232227;
    text-align: left;
  }

  hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid black;
  }
  img {
    width: 100%;
  }

  .nextButton {
    width: 0;
    height: 0;
    border-top: 40px solid red;
    border-right: 66px solid transparent;
    &__text {
      position: relative;
      left: 71.56%;
      right: -43.12%;
      top: 0%;
      bottom: 28.57%;
      background: #000000;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }

  p {
    color: #232227;
    text-align: left;
  }

  .section {
    color: #232227;
    text-align: left;
    padding: 10px 20px;
  }
  .section:nth-child(1) {
    background: darkcyan;
  }

  .team-members {
    display: flex;
    color: #232227;
    flex-direction: column;
    .team-member {
      text-align: left;
      padding-bottom: 10px;
      padding-top: 10px;
      font-size: 12px;
      display: flex;
      align-items: center;
      &__text {
        flex: 1 0 70%;
      }
      &__image {
        color: blue;
        flex: 1 0 auto;
        border-radius: 5px;
        img {
          border-radius: 50%;
        }
      }
    }
  }
  // .title{
  //     padding-left: 10px;
  // }
  #about-link {
    // color: red;
    padding-top: 40px;
  }
}
