.projects-page {
  display: inline-block;
  flex: 1 1 75%;
  position: relative;
  top: 12px;
  .project-item {
    padding: 10px 0px;
    height: max-content;
    flex: 3 1 0;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 132px;
    color: #232227;
    text-align: left;

    &__image {
      width: 100%;
    }
    &__text-and-button {
      display: flex;
      p {
        flex: 1 1 100%;
        color: #F86C59;
        margin-left: 3px;
        padding-bottom: 16px;
      }
      .description {
        display: flex;
        flex: 1 1 93%;
      }
      .nextButton {
        display: flex;
        flex: 1 1 8%;
        flex-direction: column-reverse;
        width: 0;
        height: 0;
        border-top: 40px solid #232227;
        border-right: 80px solid transparent;
        cursor: pointer;
      }
    }
    hr {
      margin-top: 0px;
      margin-bottom: 0px;
      border-bottom: 1px solid black;
    }
  }
}
