.stories-page {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 86%;
	        flex: 0 1 86%;
	.story {
		max-width: 831px;
		.description {
			margin-bottom: 10px;
		}

		&__image {
			width: 100%;
		}
		&__text-and-button {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: reverse;
			    -ms-flex-direction: row-reverse;
			        flex-direction: row-reverse;
			p {
				color: #f86c59;
				margin-left: 3px;
				padding-bottom: 16px;
			}
			a{
				color: #f86c59;
				cursor: pointer;
			}

			// .nextButton {
			// 	display: -webkit-box;
			// 	display: -ms-flexbox;
			// 	display: flex;
			// 	-webkit-box-orient: vertical;
			// 	-webkit-box-direction: reverse;
			// 	    -ms-flex-direction: column-reverse;
			// 	        flex-direction: column-reverse;
			// 	width: 0;
			// 	height: 0;
			// 	border-top: 50px solid #232227;
			// 	border-right: 100px solid transparent;
			// 	cursor: pointer;
			// 	a {
			// 		color: #f86c59;
			// 		position: relative;
			// 		top: -28px;
			// 		left: 5px;
			// 		margin: 0;
			// 	}
			// }
		}
		hr {
			margin-top: 0px;
			margin-bottom: 0px;
			border-bottom: 1px solid black;
		}
	}
}