.stories-page{
    display: inline-block;
    flex: 0 1 55%;
    position: relative;
    top: 12px;
    z-index: 5;
    .story {
        padding: 10px 0px;
        height: max-content;
        flex: 3 1 0;
        justify-content: center;
        text-align: center;
        position: relative;
        top: 132px;
        color: #232227;
        text-align: left;
        .description {
          margin-bottom: 10px;
        }
    
        &__image {
          width: 100%;
        }
        &__text-and-button {
            display: flex;
            flex-direction: row-reverse;
          p {
            flex: 1 1 100%;
            color: #F86C59;
            margin-left: 3px;
            padding-bottom: 16px;
          }

          .nextButton {
            display: flex;
            flex-direction: column-reverse;
            width: 0;
            height: 0;
            border-top: 40px solid #232227;
            border-right: 80px solid transparent;
            cursor: pointer;
            a{
              color: #F86C59;
              position: relative;
              top: -18px;
              left: 5px;
              margin: 0;
            }
          }
        }
        hr {
          margin-top: 0px;
          margin-bottom: 0px;
          border-bottom: 1px solid black;
        }
      }
  
    h4{
        color: #232227;
    }
}
