.stories-page {
	display: flex;
	top: 12px;
	z-index: 5;
	.story {
		padding: 10px 0px;
		position: relative;
		top: 132px;
		.description {
			margin-bottom: 10px;
		}

		&__image {
			width: 100%;
		}
		&__text-and-button {
			display: flex;
			flex-direction: row-reverse;
			p {
				color: #f86c59;
				margin-left: 3px;
				padding-bottom: 16px;
			}

			.nextButton {
				display: flex;
				flex-direction: column-reverse;
				width: 0;
				height: 0;
				border-top: 50px solid #232227;
				border-right: 100px solid transparent;
				cursor: pointer;
				a {
					color: #f86c59;
					position: relative;
					top: -28px;
					left: 5px;
					margin: 0;
				}
			}
		}
		hr {
			margin-top: 0px;
			margin-bottom: 0px;
			border-bottom: 1px solid black;
		}
	}
}
