.contacts{
    height: max-content;
    flex: 1 1 75%;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 150px;
    .user-data{
        display: flex;
        flex-direction: column;
        width: 400px;
        p{
            color: orangered;
        }
        input{
            margin-bottom: 10px;
            border: 1px solid;
            padding-left: 3px;
        }
        
    }

    a{
        color: orangered;
        cursor: pointer;
    }

    h4{
        color: #232227;
        text-align: left;
        font-weight: 500;
    }

    hr{
        // border-top: 1px solid black;
        margin-top: 0px;
        margin-bottom: 0px;
        border-bottom: 1px solid black;
    }

    p{
        color: #232227;
        text-align: left;
        margin-bottom: 0;
    }
    #reg-number{
     margin-bottom: 10px;   
     margin-top: 10px;   
    }
    #email{
        text-align: center;
        display: flex;
    }
    // .user-email{
    //     color: orangered;
    // }
    // .user-name{
    //     color: orangered;
    // }
    // .user-message{
    //     color: orangered;
    // }
    .or{
        padding-top: 5px;
        padding-bottom: 20px;
    }
    #message-name{
        margin-top: 15px;
    }
    #message-field{
        height: 250px;
        border: 1px solid black;
        border-bottom: 0;
    }
    button{
        background-color: orangered;
        border-color: orangered;
        border-radius: 0;
        opacity: 0.8;
        
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        // border: 0px 1px 1px 1px solid black;
        &:hover{
            background-color: orangered;
            border-bottom: 1px solid black;
            border-left: 1px solid black;
            border-right: 1px solid black;
            // border-color: orangered;

            border-radius: 0;
            opacity: 1;
        }
    }
}
