.contacts {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 90%;
	        flex: 0 1 90%;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	.user-data {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		width: 490px;
		p {
			color: #f86c59;
		}
		input {
			margin-bottom: 10px;
			border: 1px solid;
			padding-left: 3px;
		}
		&__link {
			color: #232227;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-ms-flex-direction: row;
			flex-direction: row;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			.interested {
				padding-right: 5px;
			}
			.nextButton {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: reverse;
				-ms-flex-direction: column-reverse;
				flex-direction: column-reverse;
				width: 0;
				height: 0;
				border-top: 50px solid #232227;
				border-right: 130px solid transparent;
				cursor: pointer;
				position: relative;
				font-size: 18px;
				div {
					color: #f86c59;
					position: relative;
					top: -25px;
					left: 0px;
					margin: 0;

					&:hover {
						text-decoration: underline;
					}
				}
				a {
					color: #f86c59;
					position: relative;
					top: -26px;
					right: -5px;
				}
			}
		}
	}

	a {
		color: #f86c59;
		cursor: pointer;
	}

	h3 {
		text-align: left;
		font-weight: normal;
	}

	hr {
		margin-top: 0px;
		margin-bottom: 0px;
		border-bottom: 1px solid black;
	}
	.custom-control-label{
		font-size: 20px;
	}

	p {
		text-align: left;
		margin-bottom: 0;
	}
	#reg-number {
		margin-bottom: 10px;
		margin-top: 10px;
	}
	#email {
		text-align: center;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.or {
		padding-top: 5px;
		padding-bottom: 20px;
	}
	#message-name {
		margin-top: 15px;
	}
	#message-field {
		height: 250px;
		border: 1px solid black;
		margin-bottom: 5px;
	}
	button {
		background-color: #f86c59;
		border-color: #f86c59;
		border-radius: 0;
		opacity: 0.8;

		border-bottom: 1px solid black;
		border-left: 1px solid black;
		border-right: 1px solid black;
		&:hover {
			background-color: #f86c59;
			border-bottom: 1px solid black;
			border-left: 1px solid black;
			border-right: 1px solid black;
			border-radius: 0;
			opacity: 1;
		}
	}
}