.questionaire {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 86%;
	flex: 0 1 86%;
	color: black;
	text-align: left;
	// margin-right: 50%;

	&__logo {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
        position: absolute;
        top: 15px;
        left: 302px;
	}
	&__textBlock {
		display: flex;
		flex-direction: column;
		p {
			padding-bottom: 20px;
		}
	}
	&__form {
		p {
			padding-bottom: 5px;
		}
		padding-bottom: 20px;
		.form-group,
		.form-group2 {
			padding-bottom: 0;
			margin: 0;
		}
		.form-group2 {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-ms-flex-direction: row;
			flex-direction: row;
			padding-bottom: 0;
			margin: 0;
			.custom-checkbox {
				margin-right: 15px;
			}
		}
	}
	&__message {
		p {
			padding: 0;
			padding-bottom: 5px;
		}
		textarea {
			width: 100%;
			border: 1px solid black;
			outline-color: white;
			height: 250px;
		}
	}
	&__link {
		color: #232227;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		.interested {
			padding-right: 5px;
		}
		.nextButton {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: reverse;
			-ms-flex-direction: column-reverse;
			flex-direction: column-reverse;
			width: 0;
			height: 0;
			border-top: 50px solid #232227;
			border-right: 130px solid transparent;
			cursor: pointer;
			position: relative;
			font-size: 20px;
			div {
				color: #f86c59;
				position: relative;
				left: 0px;
				margin: 0;

				&:hover {
					text-decoration: underline;
				}
			}
			a {
				color: #f86c59;
				position: relative;
				top: -27px;
				left: 4px;
			}
		}
	}
}
